body{
	position: relative;
	bottom: 20px;
	right: 15px;
}

h1{
	position: relative;
	bottom: 290px;
	left: 500px;
}

h2{
	position: absolute;
	top: 212px;
	
}

h3{
	position:absolute;
	top: 50px;
	right: 400px;
}


h4{
	position:relative;
	left: 700px;
	bottom: 400px;
	
}

h5{
	position: absolute;
	top: 450px;
}

h6{
	position: absolute;
	top: 40px;
	left: 265px;
}


